@import url(variables.css);

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Kufam", sans-serif;
}

h1 {
  font-size: var(--h1);
  color: var(--secondary);
}

button,
button:link,
button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: inline-block;
  margin: 0.5rem auto;
  font-size: 1rem;
  border: none;
  border-radius: 5rem;
  transition: all 0.2s;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 0.5rem #000000;
}

#search-bar {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

#api-response {
  font-size: 5rem;
}

#list {
  font-size: 5rem;
}
