@import url(variables.css);

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Kufam", sans-serif;
}

h1 {
  font-size: var(--h1);
  color: var(--secondary);
  text-decoration: wavy underline;
}

button,
button:link,
button:visited {
  padding: 0.5rem 2rem;
  display: inline-block;
  margin: 0.5rem auto;
  font-size: 1rem;
  border: none;
  border-radius: 5rem;
  transition: all 0.2s;
  background-color: var(--tertiary);
}
button:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 0.3rem 0.5rem #000000;
}

#theme {
  position: absolute;
  top: 0px;
  right: 0px;
}

#label {
  font-size: 2rem;
  color: var(--secondary);
}

#search-bar {
  width: 85%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 0.05rem solid #eaeaeabc;
  padding: 1rem;
  margin: .5rem;
  font-size: 1.5rem;
}

#api-response {
  font-size: 5rem;
}

#list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.fishCard {
  background-color: white;
  border-radius: 3rem;
  border: solid 0.5rem var(--secondary);
  padding: 2rem 2rem;
  margin: 5rem 5rem;
  width: 25rem;
  height: 40rem;
  font-size: 2rem;
}

.img {
  max-width: 100%;
}
