body {
  background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 2rem;
}

.dark {
  --primary: var(--dark);
  --secondary: var(--light);
  --tertiary: var(--lighter);
}

.light {
  --primary: var(--light);
  --secondary: var(--dark);
  --tertiary: var(--lighter);
}

:root {
  /*Site BG*/
  --dark: #1b4b5c;
  --light: #71bfcb;
  --lighter: #dffbff;

  /*Typography*/
  --h1: 5.653rem;
  --h2: 3.998rem;
  --h3: 2.827rem;
  --h4: 1.999rem;
  --h5: 1.414rem;
  --h6: 1rem;
}
